:root {
	--color1: #FFFFFF;
	--color2: #E4007B;
	--color3: #E8E8E8;
	--color4: #F7F8FC;	
}
* {
	margin: 0;
	padding: 0;
	font-family: 'helvetica';
}

body {
	background: var(--color1);
}

.content {
	height: 100%;
	position: relative;
	background: var(--color4);
	display: grid;
	grid-gap: 6px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	" nav nav nav "
	" header header header "
	" sub-menu sub-menu sub-menu "
	" section section section "
	" main main main "
	" aside aside aside "
	" footer footer footer "
	;	
}

header {
	grid-area: header;
	padding: 12px;
	color: var(--color2);
	text-align: center;
}

nav	{
	grid-area: nav;
	background: var(--color2);
}

#menuSwitch {
	padding: 6px;
	cursor: pointer;
	display: inline-block;
	background: silver;
	opacity: 0.6;
	border-radius: 6px;
}

#menuSwitch:hover {
	opacity: 1;
	background: var(--color1);
}

#menuSwitch:hover > .hamburger {
	background: var(--color2);
}

.hamburger {
	width: 36px;
	height: 6px;
	background: var(--color1);
	margin: 6px 0px;
}

#menu {
	display: none;
	opacity: 1;
	padding: 6px;
	text-align: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.6);
}

#menu ul li {
	text-align: center;
}

#menu button {
	width: 90%;
	display: block;
	padding: 12px 0px;
	margin: 30px auto;
	font-size: 3em;
	color: white;
	background: var(--color2);
	border: 1px solid var(--color1);
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0px 9px #999;
}

#menu button:hover {
	background: var(--color1);
	border: 1px solid var(--color2);
	color: var(--color2);
}

#menu button:active {
	box-shadow: 0 6px #666;
	transform: translateY(3px);
}

#menu a {
    text-decoration: none;
}

.sub-menu {
	grid-area: sub-menu;
	background: var(--color2);
	display: flex;	
}

.sub-menu ul li {
	display: inline-block;
	padding: 6px 18px;	
}

.sub-menu ul li a {
	color: var(--color1);
	font-weight: bolder;
}

.sub-menu ul li a:hover {
	color: var(--color3);
}

.sub-menu ul li a:active {
	background: var(--color3);
	color: var(--color2);
}

.search-form {
	margin: 3px auto;	
}

.search-form ul li {
	padding: 3px;
}

.search-form ul li input {
	outline: 0px;
	border: 0px;
	background-color: var(--color2);
	border-bottom: 1px solid white;
	color: white;
	font-size: 1.5em;
}

.search-form ul li button {
	padding: 6px 12px;
}

.search input {
	outline: 0px;
}

section {
	grid-area: section;
}

.search table {
	margin: 6px auto;
}

.search table thead tr td input {
	border: 0px;
	border-bottom: 1px solid var(--color2);
	background: none;
	font-size: 1.2em;
}

.search table thead tr td input:active {
	background: red;
}

.username {
	text-align: right;
	font-style: italic;
	padding:0px 12px;
	background: var(--color4);
}

.grid-div {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3px;
	padding: 12px;
}

.grid-item {
	border: 1px solid var(--color2);
	padding: 6px 6px 12px 6px;
	border-radius: 6px;
}

.grid-item ul li {
	padding: 6px 12px;
	list-style: none;	
}

.grid-item ul li input {
	border: 0px;
	background: none;
	outline: 0px;
	padding-top: 6px;
	border-bottom: 0.5px solid black;
}

.login {
	text-align: center;
}

.login input {
	margin: 6px 3px;
}

main {
	grid-area: main;
}

.form {
	padding: 12px;
}

.form table {
	margin: 6px auto;
	background: var(--color3);
	padding: 12px;
	border-collapse: collapse;
	border-radius: 6px 0px 0px 0px;
}

.form table thead tr th {
	padding: 12px 12px;
}

.form table tbody tr td {
	padding: 12px 12px;
}

.form table tbody tr td input {
	border: 0px;
	border-bottom: 1px solid var(--color2);
	background: var(--color3);
}

.form table tbody tr td input:focus {
	background: var(--color1);	
}

.form table tbody tr td textarea {
	resize: none;
}

.form table tbody tr th {
	padding: 3px 3px 24px 3px;
}

.small table thead tr th {
	padding: 6px;	
}

.small table thead tr td {
	padding: 6px 6px 12px 6px;
	/*padding-bottom: 12px;*/
	border-bottom: 2px solid var(--color2); 
}

.small table thead input {
	border: none;
	border-bottom: 1px solid var(--color2);
	background: var(--color3);
}

.small table tbody tr td {
	padding: 6px 12px;
}

.report {
	
}

.report table {	
	margin: 12px auto;
	width: 90%;
	border-collapse: collapse;	
}

.report table thead tr th {
	background-color: var(--color2);
	padding: 6px;
	color: white;
	text-align: left;
}

.report table tbody tr td {
	padding: 6px;
}

.report table tbody tr:nth-of-type(even) {
	background-color: var(--color1);
}

.report table tbody tr:nth-of-type(odd) {
	background-color: var(--color3);
}

footer {
	grid-area: footer;
	border-top: 0.5px solid var(--color2);
	background: var(--color1);
	margin-top: 120px;
	padding: 12px 0px 24px 0px;

	text-align: center;
}

.medium.button {
	background: var(--color2);
	padding: 9px 24px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 6px;
	box-shadow: 0 9px #999;
}

.medium.button:active {
	box-shadow: 0 6px #666;
	transform: translateY(3px);
}

.square {
	padding: 12px;
	width: 300px;
	height: 300px;
	margin: 12px auto;
	display: block;
	float: center;
	background: var(--color2);
	color: var(--color1);
	font-size: 2.7em;
	border: none;
	outline: none;
	border-radius: 6px;
	box-shadow: 0 9px #999;	
}

.square:active {
	box-shadow: 0 6px #666;
	transform: translateY(3px);
}

.modalClients {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overfl#menu buttonow: auto;
    background: silver;
    opacity: 0.9;
}

.modalClient li {
	text-align: center;
	list-style: none;
	padding: 6px;
}

.modalClients h1  {
	color: black;
	cursor: pointer;
	text-align: right;
	padding: 12px 24px;
}

.modalClient {
	display: none;
	margin: 12px auto;
	background: white;
	opacity: 1;
	padding-bottom: 120px;
}

.modalClient table {
	width: 30%;
	border-collapse: collapse;
	margin: 12px auto;
}

.modalClient table tr th {
	border: 1px solid black;
	padding: 6px;
}

.modalClient table tr td {
	border: 1px solid black;
	padding: 6px;
}

.load-button {
	text-align: center;
}

.load-button button {
	width: 90%;
	padding: 12px;
	font-weight: bold;
	font-size: 1.2em;
	color: var(--color2);
}

.sorter {
	cursor: pointer;
	font-size: 1.2em;
}

.sorter:hover {
	color: blue;
}

.sorter:active {
	color: red;
}

.bold {
	font-weight: bold;
}


.error {
	font-weight: bold;
	color: red;
}

.invisible {
	display: none;
}


/*styles for tablets*/
@media screen and (min-width: 768px) {
    .grid-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #menu button {
        width: 60%;
    }
}

/*styles for computers*/
@media screen and (min-width: 992px) {
    .grid-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .modalClient {
    	width: 90%;
    }

    #menu button {
        width: 45%;
    }

    .modalClient {
    	width: 90%;
    }
}